name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.8
      uses: actions/setup-python@v6
      with:
        python-version: 3.8
    - name: Lint
      env:
        BASE_SHA: ${{ github.event.pull_request.base.sha }}
        HEAD_SHA: ${{ github.event.pull_request.head.sha }}
      run: |
        pip install black
        pip install mypy
        pip install -e .
        black --version
        black --check pyevmasm
        mypy --version
        mypy pyevmasm
        
  test38:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python 3.8
      uses: actions/setup-python@v6
      with:
        python-version: 3.8
    - name: Run Tests 38
      run: |
        pip install -e .
        python -m unittest discover "tests/"
