name: Scan dependencies for vulnerabilities with pip-audit

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "0 12 * * *"

jobs:
  pip-audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: false

      - name: Install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: "3.x"

      - name: Install project
        run: |
          python -m venv /tmp/pip-audit-env
          source /tmp/pip-audit-env/bin/activate

          python -m pip install --upgrade pip
          python -m pip install .

      - name: Run pip-audit
        uses: pypa/gh-action-pip-audit@1220774d901786e6f652ae159f7b6bc8fea6d266  # v1.1.0
        with:
          virtual-environment: /tmp/pip-audit-env
